<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard <%= user.username %></title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Welcome, <%= user.username %></h1>
        </div>
        <ul class="guilds-list">
            <% user.guilds.map(guild => { %>
                <li class="guild-item"><%= guild.name %></li>
            <% }); %>
        </ul>
    </div>
</body>

</html>