<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard Home</title>
</head>

<body>
    <% if (typeof user !=='undefined' && user !==null) { %>

        <h1>Welcome <%= user.username %></h1>
        <a href="/dashboard">Dashboard</a>
        <a href="/auth/logout">Logout</a>

    <% } else { %>

        <h1>Welcome Guest</h1>
        <a href="/auth/login">Login with Discord</a>
        
    <% } %>
</body>

</html>